    
    .title {
    color: lightblue;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color-);
    height: 100px;
    margin: 15px;
    border: 5px solid var(--border-color-);
  }

  .title h1 {
    padding-top: 25px;
  }
.cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
    color: black;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
  }
  .container {
    border: solid var(--border-color-) 3px;
  }
  .cards p {
    color: lightblue;
    background-color: var(--background-color-);
    font-size: 20px;
    
  }
  .cards h4 {
    color: lightblue;
    background-color: var(--background-color-);
    font-size: 25px;
  }

  .info-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 5px; 
  }

  .info-button a {
    color: white;
  }
  @media screen and (max-width: 550px) {
    .cards{
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
}

